
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>No Data.</title>
</head>
<body>
    <div>
        <h2>No Data.Enter All Details</h2>
    </div>
</body>
</html>
